<main>
    <div id="content">
        <h1>
            <b><i>Trending Categories</i></b>
        </h1>
        {{#each categories}}
        <p>{{categories.location}}</p>
        <p>{{categories.category}}</p>
        <p>{{categories.imageCategory}}</p>
        <div class="{{location}}">
            <a class="category" href="/furniture/furnitureList?calledFrom=category&category={{category}}">
                <img src="{{imageCategory}}" alt="{{category}}" /></a>
            <a class="category" href="/furniture/furnitureList?calledFrom=category&category={{category}}">
                <h2 style="font-size: 18px;"><i>{{category}}</i></h2></a>
        </div>
        {{/each}}
    </div>
</main>